<div class="user fields">
                <div class="item">
                    <p>Nome</p>
                    <div>
                        <input type="text" name="name" value="" placeholder="Digite o nome completo">
                    </div>
                </div>
                <div class="item">
                    <p>Email</p>
                    <div>
                        <input type="text" name="email" value="" placeholder="Digite o Email" onblur="Validate.apply(this,'isEmail')">
                    </div>
                </div>
                <div class="input_isAdmin">
                     <div>
                        <input type="checkbox" name="is_admin" value="true">
                    </div>
                    <p>Administrador</p>
                </div>
</div>