<header>
    <a href="/">
        <img src="/assets/logo.png" alt=""></a>
        <div class="Pages">
            <a href="/Sobre">Sobre</a>
            <a href="/Receitas">Receitas</a>
            <a href="/Chefs">Chefs</a>
            <a href="/admin/users/login">Logar</a>
            {% if session.userId %}
                <div class="logout_button">
                    <form action="/users/logout" method="POST">
                        <button>Sair</button>
                    </form>
                </div>
            {% endif %}
        </div>
        <form action="/Resultados" method="GET">
            <input type="text" name="filter" placeholder="Buscar uma receita" value="{{ filter }}">
                <button type="submit">Buscar</button>
            </form>
        </header>