/* validate errors */
@keyframes hidemessage {
    0%{
        opacity:0;
    }
    25%{
        opacity:1;
    }
    90%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
    
}
.item div .error{
    background-color: #DC4747;
    color: white;
    padding:5px;
    width: 455px;
    border-radius: 4px;
    position: absolute;
    display: flex;
    justify-content: center;

    animation: hidemessage 2s ease-out forwards;
}

.messages {
    display: flex;
    justify-content: center;
}